{% extends 'base.html' %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script>
        $(function(){
            $("select").chosen({disable_search_threshold: 10});
        });
    </script>
{% endblock %}

{% block contato %}
{% endblock %}

{% block content %}

    <!-- Breadcrumb -->
    <div class="row-fluid bcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="active">Contato</li>
            </ul>
        </div>
    </div>

    <!-- Título -->
    <div class="row-fluid h1-title">
        <div class="container">
            <div class="row-fluid">
                <h1>Contato</h1>
                <h2>Entre em contato conosco.</h2>
            </div>
        </div>
    </div>

    <!-- Corpo -->
    <div class="row-fluid">
        <div class="container interna">

            <div class="center-title">
                <h3>Experimente gratuitamente agora</h3>
                <p>Envie-nos seu pedido de teste gratuito e confira esse incrível sistema para seu negócio. Envie também quaisquer dúvidas, teremos o maior prazer em atende-lo.</p>
            </div>

            <!-- Formulários -->
            <div class="row-fluid form-contato">
                <form action="" method="POST">
                    <div class="span4">
                        <div class="control-group">
                            {{ form.name.label_tag }}
                            {{ form.name.errors }}
                            <div class="controls">
                                {% csrf_token %}
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form.email.label_tag }}
                            {{ form.email.errors }}
                            <div class="controls">
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form.company.label_tag }}
                            {{ form.company.errors }}
                            <div class="controls">
                                {{ form.company }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form.telephone.label_tag }}
                            {{ form.telephone.errors }}
                            <div class="controls">
                                {{ form.telephone }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form.found.label_tag }}
                            {{ form.found.errors }}
                            <div class="controls">
                                {{ form.found }}
                            </div>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="control-group">
                            {{ form.subject.label_tag }}
                            {{ form.subject.errors }}
                            <div class="controls">
                                {{ form.subject }}
                            </div>
                        </div>
                        <div class="control-group">
                            {{ form.body.label_tag }}
                            {{ form.body.errors }}
                            <div class="controls">
                                {{ form.body }}
                            </div>
                        </div>
                        <button type="submit" href="#" class="btn btn-green">
                            Enviar <i class="icon-white icon-arrow-btn"></i>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock %}
