{% extends 'base.html' %}
{% block css %}
<style>
.menu{
    display: none;
}
.rodape li{
    text-indent: -9999px;
}
</style>
{% endblock %}
{% block content %}

    <!-- Breadcrumb -->
    <div class="row-fluid bcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="active">Contato</li>
            </ul>
        </div>
    </div>

    <!-- Título -->
    <div class="row-fluid h1-title">
        <div class="container">
            <div class="row-fluid">
                <h1 class="mgr-top">Contato</h1>
                <h2>Entre em contato conosco.</h2>
            </div>
        </div>
    </div>

    <!-- Corpo -->
    <div class="row-fluid">
        <div class="container interna">

            <h2>Sucesso! Obrigado pelo contato, logo logo entraremos em contato. ;)</h2>

            <a href='/' class="link-back">Clique aqui para retornar ao site !</a>

        </div>
    </div>

{% endblock %}
