<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <title>Viajacom | Eventos - O melhor sistema de eventos para qualquer empresa de agências</title>

    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cube.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/software.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sprite.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilos.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/chosen.min.css" />

    <!--[if gte IE 9]>
      <style type="text/css">
        .btn {
           filter: none;
        }
      </style>
    <![endif]-->

</head>
<body>

    {% block contato %}
    <!-- Contato Fixo -->
    <a href="/contato/" class="fixed-contato">
        <p>Fale com um consultor <i class="icon-arrow-btn"></i></p>
    </a>
    {% endblock %}

    <!-- Topo -->
    <header class="topo">
        <div class="container">
            <!-- Share -->
            <div class="share">
                <p>Compartilhe:</p>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_linkedin_large' displayText='LinkedIn'></span>
                <span class='st_email_large' displayText='Email'></span>
                <span class='st_sharethis_large' displayText='ShareThis'></span>
            </div>

            <!-- Logo -->
            <div class="logo-viaja pull-left">
                <span class="logo pull-left"></span>
                <span class="title"><a href="/">Viajacom.com</a></span>
            </div>

            <!-- Navegação - Fixo -->
            <nav class="menu">
                <ul>
                    <li class="selected">
                        <a href="javascript:;" data-scroll="topo" class="link-home">
                            <i class="icon-home"></i><span class="title">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="link-produto">
                            <i class="icon-cart"></i><span class="title">Produto</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="link-quem">
                            <i class="icon-business"></i><span class="title">Quem somos?</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="link-contato">
                            <i class="icon-chat"></i><span class="title">Contato</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </header>

    {% block content %}
    {% endblock %}

    <!-- Rodapé -->
    <footer class="rodape">
        <div class="row-fluid">
            <div class="container">

                <div class="pull-right">
                    <!-- Info -->
                    <p class="size-medium">Fale Conosco</p>
                    <p class="size-big color-yellow">+55 31 25 26 26 23</p>
                    <p class="size-normal color-blue-claro">Seg a Sex 9h às 18h</p>
                    <p class="email size-medium color-white"><a href="mailto:contato@viajacom.com">contato@viajacom.com</a></p>
                </div>

                <!-- Logo -->
                <div class="pull-left">
                    <div class="produtoby">
                        <p class="size-small color-blue-claro">Developed by</p>
                        <a href="http://www.intip.com.br/" target="_blank" class="logo-intip-ok"></a>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <div class="row-fluid topo associados">
        <div class="container">
            <div class="span2"><p>Associado:</p></div>
            <div class="span10"><div class="abradi"></div></div>
        </div>
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jcarousel.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jcarousel.responsive.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/javascripts.js"></script>

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "4df9c63f-840e-469d-972c-a1d559ef94c9", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

    {% block javascript %}
    {% endblock %}

</body>
</html>
