<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Viajacom.com - Um sistema inteligente que irá automatizar suas vendas online de serviços específicos de eventos.">
    <meta name='keywords' content='viajacom, Sistema de eventos, eventos, ingressos, transfer, passeios, ingressos online, eventos online' />

    <!-- Facebook -->
    <meta property="og:title" content="Viajacom.com | Sistema de e-commerce para gerenciar seus eventos " />
    <meta property="og:description" content="Viajacom.com - Um sistema inteligenteque irá automatizar suas vendas online de serviços específicos de eventos." />
    <meta property="og:image" content="{{ STATIC_URL }}imgs/thumb-75x75.jpg" />
    <!-- Facebook -->

    <!-- Google Plus -->
    <meta itemprop="name" content="Viajacom.com | Sistema de e-commerce para gerenciar seus eventos">
    <meta itemprop="description" content="Viajacom.com - Um sistema inteligenteque irá automatizar suas vendas online de serviços específicos de eventos.">
    <meta itemprop="image" content="{{ STATIC_URL }}imgs/thumb-75x75.jpg">
    <!-- Google Plus -->

    <title>Viajacom | Sistema de e-commerce para gerenciar seus eventos</title>

    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cube.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/software.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sprite.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilos.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/chosen.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox-buttons.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.fancybox-thumbs.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cloud-zoom.css" />

    {% block css %}
    {% endblock %}


    <!--[if gte IE 9]>
      <style type="text/css">
        .btn {
           filter: none;
        }
      </style>
    <![endif]-->

</head>
<body>

    {% block contato %}
    {% endblock %}

    <!-- Topo -->
    <header class="topo">
        <div class="container">
            <!-- Share -->
            <div class="share">
                <p>Compartilhe:</p>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_email_large' displayText='Email'></span>
            </div>

            <!-- Logo -->
            <div class="logo-viaja pull-left">
                <span class="logo pull-left"></span>
                <span class="title"><a href="/">Viajacom.com | eventos</a></span>
            </div>

            <!-- Navegação - Fixo -->
            <nav class="menu">
                <ul>
                    <li>
                        <a href="javascript:;" data-scroll="topo" class="link-home selected">
                            <i class="icon-home"></i><span class="title">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="link-produto">
                            <i class="icon-cart"></i><span class="title">Produto</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="link-quem">
                            <i class="icon-business"></i><span class="title">Quem somos?</span>
                        </a>
                    </li>
                    <li>
                        <a href="#contato" class="link-contato">
                            <i class="icon-chat"></i><span class="title">Contato</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </header>

    {% block content %}
    {% endblock %}

    <!-- Rodapé -->
    <footer class="rodape">
        <div class="row-fluid">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <ul>
                            <li>
                                <a href="javascript:;" data-scroll="topo" class="link-home">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="link-produto">
                                    Produto
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="link-quem">
                                    Quem Somos ?
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" class="link-contato">
                                    Contato
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="span2">
                        <div class="pull-left">
                            <div class="produtoby">
                                <p class="color-blue-claro">Developed by:</p>
                                <a href="http://www.intip.com.br/" target="_blank" class="logo-intip-ok"></a>
                            </div>
                        </div>
                    </div>
                    <div class="span2">
                        <p class="color-blue-claro">Associado:</p>
                        <div class="span10"><div class="abradi"></div></div>
                    </div>
                    <div class="span5">
                        <div class="pull-right">
                            <!-- Info -->
                            <p class="size-medium">Fale Conosco</p>
                            <p class="size-big color-yellow">+55 31 2526-2623</p>
                            <p class="size-normal color-blue-claro">Seg a Sex 9h às 18h</p>
                            <p class="email size-medium color-white"><a href="mailto:contato@viajacom.com">contato@viajacom.com</a></p>
                        </div>
                    </div>
               </div> 

               <div class="row">
                    <div class="span12">
                        <div class="cube-bot"></div>
                    </div>
               </div>
            </div>
        </div>
    </footer>


    <!-- Javascript -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jcarousel.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jcarousel.responsive.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox-thumbs.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cloud-zoom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/javascripts.js"></script>

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "4df9c63f-840e-469d-972c-a1d559ef94c9", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script>
        $(function(){
            $("select").chosen({disable_search_threshold: 10});
        });
    </script>

    {% block javascript %}
    {% endblock %}


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-46071003-2', 'viajacom.com');
      ga('send', 'pageview');
    
    </script>
</body>
</html>
