<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <title>Viajacom | Eventos - O melhor sistema de eventos para qualquer empresa de agências</title>

    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/cube.css" />
    <link rel="stylesheet" type="text/css" href="css/software.css" />
    <link rel="stylesheet" type="text/css" href="css/sprite.css" />
    <link rel="stylesheet" type="text/css" href="css/estilos.css" />

    <!--[if gte IE 9]>
      <style type="text/css">
        .btn {
           filter: none;
        }
      </style>
    <![endif]-->

</head>
<body>

    <!-- Topo -->
    <header class="topo">
        <div class="container">

            <!-- Logo -->
            <div class="logo-viaja pull-left">
                <span class="logo pull-left"></span>
                <span class="title">Eventos</span>
            </div>

            <!-- Navegação - Fixo -->
            <nav class="menu">
                <ul>
                    <li class="selected"><a href="#"><i class="icon-home"></i><span class="title">Home</span></a></li>
                    <li><a href="#"> <i class="icon-cart"></i><span class="title">Produto</span></a></li>
                    <li><a href="#"> <i class="icon-clientes"></i><span class="title">Cliente</span></a></li>
                    <li><a href="#"> <i class="icon-chat"></i><span class="title">Contato</span></a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Breadcrumb -->
    <div class="row-fluid bcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                <li class="active">Clientes Satisfeitos</li>
            </ul>
        </div>
    </div>

    <!-- Título -->
    <div class="row-fluid h1-title">
        <div class="container">
            <div class="row-fluid">
                <h1>Clientes Satisfeitos</h1>
                <h2>Maecenas faucibus mollis interdum lorem ipsum.</h2>
            </div>
        </div>
    </div>

    <!-- Corpo -->
    <!-- Cliente Satisfeitos -->
    <div class="row-fluid bg-gray clientes">
        <div class="container relative">
            <div class="cube-gray2"></div>
            <div class="row-fluid">
                <div class="span6 col-a">

                    <div class="row-fluid">
                        <div class="span12 depoimento de-green">
                            <div class="box">
                                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                            </div>
                            <div class="bg-de-logo">
                                <span class="logo-cliente"></span>
                            </div>
                            <div class="box-arrow"></div>
                            <div class="photo-circle">
                                <img src="imgs/woman.png" width="80" alt="">
                            </div>
                            <div class="de-id pull-left">
                                <p>Maria Inês Resende</p>
                                <a href="#">
                                    <strong>BonitoWay</strong><small>.com.br</small>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12 depoimento de-orange">
                            <div class="box">
                                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                            </div>
                            <div class="bg-de-logo">
                                <span class="logo-cliente"></span>
                            </div>
                            <div class="box-arrow"></div>
                            <div class="photo-circle">
                                <img src="imgs/woman.png" width="80" alt="">
                            </div>
                            <div class="de-id pull-left">
                                <p>Maria Inês Resende</p>
                                <a href="#">
                                    <strong>BonitoWay</strong><small>.com.br</small>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="span6 col-b">

                    <div class="row-fluid">
                        <div class="span12 depoimento de-blue">
                            <div class="box">
                                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                            </div>
                            <div class="bg-de-logo">
                                <span class="logo-cliente"></span>
                            </div>
                            <div class="box-arrow"></div>
                            <div class="photo-circle">
                                <img src="imgs/woman.png" width="80" alt="">
                            </div>
                            <div class="de-id pull-left">
                                <p>Maria Inês Resende</p>
                                <a href="#">
                                    <strong>BonitoWay</strong><small>.com.br</small>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Rodapé -->
    <footer class="rodape">
        <div class="row-fluid">
            <div class="container">
            
                <div class="pull-right">
                    <!-- Info -->
                    <p class="size-medium">Fale Conosco</p>
                    <p class="size-big color-yellow">+55 31 25 26 26 23</p>
                    <p class="size-normal color-blue-claro">Seg a Sex 9h às 18h</p>
                    <p class="email size-medium color-white"><a href="mailto:contato@viajacom.com">contato@viajacom.com</a></p>
                </div>
            
                <!-- Logo -->
                <div class="pull-left">
                    <div class="produtoby">
                        <p class="size-small color-blue-claro">Produto feito por</p>
                        <a href="http://www.intip.com.br/" target="_blank" class="logo-intip"></a>
                    </div>
                </div>
            
            </div>
        </div>
    </footer>

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/javascript.js"></script>

</body>
</html>