{% extends 'base.html' %}
{% block content %}

    <!-- Breadcrumb -->
    <div class="row-fluid bcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="active">Produto</li>
            </ul>
        </div>
    </div>

    <!-- Título -->
    <div class="row-fluid h1-title">
        <div class="container">
            <div class="row-fluid">
                <h1>Características</h1>
                <h2>Maecenas faucibus mollis interdum lorem ipsum.</h2>
            </div>
        </div>
    </div>

    <!-- Corpo -->
    <div class="row-fluid">
        <div class="container interna">

            <!-- Conteudo -->
            <p>Nossa proposta é reduzir os custos e tempo das agências de turismo e produtoras de eventos, facilitando suas vendas online de pacotes e serviços vinculado a eventos, maximizando as vendas e proporcionando maior conforto a seus clientes.<br><br>
            O sistema é facilmente implantado a sites já existentes, descartando a necessidade de gastos com a criação de um novo. É tudo feito online, sem a necessidade de instalação, pode ser administrado de qualquer computador, de qualquer lugar do mundo!<br><br>
            Confira abaixo algumas características e benefícios que nosso sistema tem-lhe a oferecer.<br><br>
            <strong>Características Eventos Viajacom</strong><br><br>

            Ágil integração do sistema em sua página<br>
            Sistema 100% web<br>
            Não requer instalação<br>
            E-Commerce publicado automaticamente na páginas<br>
            Fácil Gerenciamento de conteúdo para eventos e receptivos com informativos das funções no sistema<br>
            Fácil gerenciamento de conteúdo de vendas<br>
            Vendas ágeis e segura<br>
            Carrinho de compras<br>
            Cotação de tarifas aérea<br>
            Diversos tarifários<br>
            Diversos idiomas<br>
            Diversos gateways de pagamento<br>
            Cadastro de Hotéis, Transfer, Passeios e Ingressos.<br>
            Customização do seu cliente<br>
            Área para seu cliente<br>
            Layout amigável e com variados temas<br>
            Relatório de vendas<br><br>


            <strong>Benefícios Eventos Viajacom</strong><br><br>

            Otimização das vendas<br>
            Melhoria no atendimento<br>
            Redução de custos<br>
            Amplo atendimento ao cliente<br>
            Baixo custo de manutenção e setup<br>
            Segurança<br>
            Constante evolução do sistema<br>
            Vendas em UMA página e poucos clicks<br>
            Publicação de vários eventos simultaneamente com diferentes tarifários<br>
            </p>

            <a href="/contato/"><strong>Fale Conosco e teste gratuitamente essa incrível solução para seu negócio</strong>
</a>
            <!-- Share -->
            <div class="share">
                <p>Compartilhe:</p>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_linkedin_large' displayText='LinkedIn'></span>
                <span class='st_email_large' displayText='Email'></span>
                <span class='st_sharethis_large' displayText='ShareThis'></span>
            </div>

        </div>
    </div>

{% endblock %}