{% extends 'base.html' %}
{% block content %}

    <!-- Breadcrumb -->
    <div class="row-fluid bcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="active">Produto</li>
            </ul>
        </div>
    </div>

    <!-- Título -->
    <div class="row-fluid h1-title">
        <div class="container">
            <div class="row-fluid">
                <h1>Características</h1>
                <h2>Maecenas faucibus mollis interdum lorem ipsum.</h2>
            </div>
        </div>
    </div>

    <!-- Corpo -->
    <div class="row-fluid">
        <div class="container interna">

            <!-- Conteudo -->
            <p>Nossa proposta é reduzir os custos e tempo das agências de turismo e produtoras de eventos, facilitando suas vendas online de pacotes e s erviços vinculado a eventos, maximizando as vendas e proporcionando maior conforto a seus clientes.</p>

            <p>O sistema é facilmente implantado a sites já existentes, descartando a necessidade de gastos com a criação de um novo. É tudo feito online, sem a necessidade de instalação, pode ser administrado de qualquer computador, de qualquer lugar do mundo!</p>

            <p>Confira abaixo as <strong>características</strong> e <strong>funcionalidades</strong> de nosso sistema.</p>

            <!-- Share -->
            <div class="share">
                <p>Compartilhe:</p>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_linkedin_large' displayText='LinkedIn'></span>
                <span class='st_email_large' displayText='Email'></span>
                <span class='st_sharethis_large' displayText='ShareThis'></span>
            </div>

        </div>
    </div>

{% endblock %}