{% extends 'base.html' %}

{% block content %}

    <!-- Breadcrumb -->
    <div class="row-fluid bcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="active">Quem somos</li>
            </ul>
        </div>
    </div>

    <!-- Título -->
    <div class="row-fluid h1-title">
        <div class="container">
            <div class="row-fluid">
                <h1>Quem somos?</h1>
                <h2>Conheça um pouco a nossa empresa.</h2>
            </div>
        </div>
    </div>


    <!-- Corpo -->
    <div class="row-fluid">
        <div class="container interna">

            <!-- Conteudo -->
            <img src="{{ STATIC_URL }}imgs/logo-intip.jpg" width="300" height="117"class="left" alt="">

            <p>O sistema Eventos Viajacom foi desenvolvido pela empresa Intip – Inteligência em Internet LTDA, com objetivo de atender a agências de viagens e receptivos, e organizadoras de eventos que queiram vender, online, produtos específicos de um evento, como Hotel, Transfer e Passeios de modo prático e seguro.</p>
            
            <p>A Intip atua no desenvolvimento de ferramentas com alta performance para a web. Com produtos dinâmicos e convergentes, a Intip desenvolve soluções para a produção e distribuição de conteúdo digital e e-commerce.</p>

            <p>Totalmente integradas e atuais, essas ferramentas visam dar liberdade aos clientes, que possuem total autonomia sobre o produto adquirido.</p>

            <p>Com equipes separadas, mas completamente integradas, nossos colaboradores buscam reunir suas habilidades e oferecer produtos com altos níveis de aprovação.</p>

            <p>Acreditamos que o trabalho em conjunto com nossos clientes, valoriza cada vez mais nossas soluções, que estão em constante desenvolvimento. Dessa relação empresa-cliente, extraímos novas ideias, melhoramos nossos produtos e, juntos, conquistamos mais espaço no mercado.</p>

            <h2>Missão</h2>
            <p>Desenvolver soluções em internet com alta performance e agilidade.</p>

            <h2>Visão</h2>
            <p>Ser a maior empresa fornecedora de tecnologia e-commerce e distribuição de conteúdo digital do Brasil.</p>

            <!-- Share -->
            <div class="share">
                <p>Compartilhe:</p>
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_linkedin_large' displayText='LinkedIn'></span>
                <span class='st_email_large' displayText='Email'></span>
                <span class='st_sharethis_large' displayText='ShareThis'></span>
            </div>

        </div>
    </div>

{% endblock %}
