/* -- 

    - Melhorar o menu na interna, meio atrapalha a leitura.

 -- */


/* -- Estilos -- */
html {overflow-x:hidden;}
body {color: #666; overflow-x:hidden; font-family: "Titillium Web", sans-serif; font-weight: 300}

    /* -- Títulos -- */
h1 {font-size: 45px; line-height: 50px; font-weight: 300; text-shadow:1px 1px #000}
h1 strong {font-weight: 600}
h2 {font-size: 20px; line-height: 25px; font-weight: 200}
h3 {font-size: 40px; font-weight: 300}
h4 {font-size: 30px; font-weight: 300}

h1 a, h2 a, h3 a, h4 a {text-decoration: none}

    /* -- Cores da fonte -- */
.color-blue {color: #1068BB}
.color-blue-claro {color: #62AAF4}
.color-yellow {color: #FED300}
.color-black {color: #333}
.color-white {color: #fff}

    /* -- Tamanho da fonte -- */
.size-small {font-size: 12px}
.size-big {font-size: 30px}
.size-medium {font-size: 24px}
.size-normal {font-size: 16px}

    /* -- Formulário -- */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .chosen-container-single .chosen-single, .chosen-drop {border:4px #EDEDED solid; border-radius:5px; box-shadow: inset 0 0 2px #999; padding:8px 10px }

.chosen-container {margin-bottom: 10px;}
.chosen-container, .chosen-container-single .chosen-single {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#666;
    font-size: 14px;
    text-decoration: none;
}

.chosen-container-single .chosen-single:hover, input:hover {background:#fafafa;}

    /* -- Fundo -- */
.bg-blue {background-color: #1068BB}
.bg-blue-dark {background-color: #094C8D}
.bg-blue-dark h3 a, .bg-blue-dark h3 a:link, .bg-blue-dark h3 a:visited {color:#fff;}
.bg-blue-dark h3 a:hover {color:#FED300;}
.bg-gray {background:#666;}
.bg-black {background: url(../imgs/bg-black.png)}
.bg-gray-dark {background:#444;}
.bg-clear-gray{background:#dedede;}
.bg-clear-gray-2{background:#ececec;}

    /* -- Botão -- */
.btn {border-radius: 35px; border:0; padding:13px 30px 15px 30px; font-size: 19px; text-shadow:none; font-weight: 600; box-shadow:0px 2px rgba(0,0,0,0.2)}
.btn .icon-arrow-btn {margin:4px 0 0 20px}

    /* -- Cores Gradient Buttons -- */
.btn-blue:hover {background:#2A76C5; color:#fff;}
.btn-blue {background: #2B77C3;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0N2JjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZDY2YmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top, #347bc1 0%, #0d66ba 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#347bc1), color-stop(100%,#0d66ba));
            background: -webkit-linear-gradient(top, #347bc1 0%,#0d66ba 100%);
            background: -o-linear-gradient(top, #347bc1 0%,#0d66ba 100%);
            background: -ms-linear-gradient(top, #347bc1 0%,#0d66ba 100%);
            background: linear-gradient(to bottom, #347bc1 0%,#0d66ba 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#347bc1', endColorstr='#0d66ba',GradientType=0 ); color: #fff}

.btn-yellow:hover {background: #FBD200;}
.btn-yellow {background: #E3BD00;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZDMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2E5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top, #fed300 0%, #cca900 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed300), color-stop(100%,#cca900));
            background: -webkit-linear-gradient(top, #fed300 0%,#cca900 100%);
            background: -o-linear-gradient(top, #fed300 0%,#cca900 100%);
            background: -ms-linear-gradient(top, #fed300 0%,#cca900 100%);
            background: linear-gradient(to bottom, #fed300 0%,#cca900 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed300', endColorstr='#cca900',GradientType=0 ); color: #333}

.btn-green:hover {background: #3b9501; color:#fff;}
.btn-green {background: #399001;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM5OTAwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNDg0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top,  #399001 0%, #248400 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#399001), color-stop(100%,#248400));
            background: -webkit-linear-gradient(top,  #399001 0%,#248400 100%);
            background: -o-linear-gradient(top,  #399001 0%,#248400 100%);
            background: -ms-linear-gradient(top,  #399001 0%,#248400 100%);
            background: linear-gradient(to bottom,  #399001 0%,#248400 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#399001', endColorstr='#248400',GradientType=0 ); color: #fff}

/* -- Outros -- */
.center {text-align: center}
.relative {position: relative}

/* -- Cubos Texture -- */
.cubes .container {position: relative}
.cube-blue1, .cube-blue2, .cube-yellow1, .cube-yellow2, .cube-gray1, .cube-gray2 {position: absolute; z-index:2}
.cube-blue1 {top:-240px; left:-350px}
.cube-yellow1 {top:-110px; left: -230px}
.cube-yellow2 {top:211px; right:-368px}
.cube-gray2 {top:550px; right: -210px}

/* -- Contato fixo - Fale com consultor -- */
.fixed-contato {width:222px;color:#444; font-weight: 600; font-size:17px; position: fixed; bottom:0; right: 10px; z-index: 900; background: #FBD200; box-shadow: 0px 0px 15px rgba(0,0,0,0.5); border-radius: 10px 10px 0 0; padding: 15px 25px 3px 25px; border:2px #444 solid; border-bottom:0}
.fixed-contato .icon-arrow-btn {margin-left: 20px;float:right;cursor:pointer;}
.fixed-contato .icon-arrow-btn:hover {opacity:0.8}
.fixed-contato .icon-arrow-btn.active{background-position:-309px -377px;width:30px;height:30px;}
.fixed-contato .span5{margin-right:30px;}
.fixed-contato label{font-weight: bold;}
.fixed-contato .form-bot{display: none;}


/* -- Topo -- */
.topo {position: fixed; z-index:100; background: #fff; width:100%;border-bottom:5px solid #FED300;}
.topo .container {padding: 15px 0; position: relative}
.logo-viaja .title {font-size: 50px; font-weight:700; float: left; margin: 27px 0 0 18px; color: #1068BB}
.logo-viaja .title a{color:#1068BB;}
.logo-viaja .title a:hover{text-decoration: none;color:#FBD200;}
.menu {float:right; margin: -14px 0 0 0; background: #fff; border-radius:0 0 10px 15px}
.cubes .topo .menu {position: fixed; top:0; right:50px; padding:0 35px 12px 35px; margin:0}
.menu ul, .menu li:first-child a {margin-left:0}
.menu li {display: inline}
.menu a {color:#1068BB; text-decoration:none; font-size: 18px; float: left; margin:13px 0 0 40px; text-align: center}
.menu a:hover {color: #5591D3}
.menu i {height: 51px; width: 46px !important; margin-bottom: 5px}
.menu .title {display: block}
.menu .big-title {margin:13px -7px 0 33px}
.presentation-top{margin-top:60px;}


.bcrumb {background:#ededed; margin-bottom: 10px;}
.breadcrumb {background:none; font-size: 17px; margin:5px 0}
.breadcrumb li {text-shadow:none}

.h1-title {background: url(../imgs/bg-breadcrumb.jpg); padding: 21px 0; border-bottom:5px #e5e5e5 solid;}
.h1-title h1 {color:#FED300; font-weight: 600; margin-bottom: 5px;}
.h1-title h2 {color:#fff; margin-top: 0}

/* -- Destaque - Foto -- */
.destaque-photo {background: url(../imgs/destaque-1920.jpg) center ;margin: 111px 0 0 0;text-align: center; top:0px;height:350px;}
.destaque-photo h2 {margin: 30px 100px}
.destaque-photo .btn {margin-bottom: 25px}
.destaque-photo ~ * {z-index: 1; position: relative}
.destaque-description {position: relative;}
.destaque-description .shadow-white{position:absolute;left: -60px;top: -100px;z-index:1;background:url(../imgs/shadow-white.png) no-repeat;width:533px;height:476px;}
.destaque-description h1{font-size:28px;position: relative;z-index:2;margin-top:85px;box-shadow: 0px 10px -14px 14px #FFF;text-shadow:2px 2px 1px #fff;font-weight: 600}
.destaque-description .btn{position: relative;z-index:2;font-size:17px;}
.destaque-description .girl-destaque{background:url(../imgs/girl.png) no-repeat;width:350px;height:335px;position: absolute;left:0;top:15px;}

.form-top{margin-top:25px;background:#fff;height:325px;-webkit-border-top-left-radius: 10px;-webkit-border-top-right-radius: 10px;-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;border-top-left-radius: 10px;border-top-right-radius: 10px;}
.form-top h2{color:#333;font-size:22px;text-align: center;margin:20px 0 0px 0;}
.form-top h3{color:#333;font-size:14px;text-align: center;margin:0;}
.form-top .btn-blue{height:40px;font-size:17px;padding:9px 30px 15px 30px;margin-bottom:0;}
.form-top .btn-blue .icon-arrow-btn{margin-top:0;}
.form-top p{color:#fed202;font-size:30px;text-align: center;font-weight:600;}
/* -- Coluna Destaques --*/

/* -- Logotipos -- */
.logotipos {padding:40px 0; border-top:3px #999 solid}

/* -- Texto + Icones -- */
.desc-icon {margin-top: 30px; color:#666;}

/* -- Características -- */
.caracter{position: relative;}
.caracteristicas {z-index:1; position: relative}
.caracter .row-fluid {padding:30px 0}
.caracter .btn {margin:10px 0 60px 0}
.caracter h3 {color: #fff; margin-bottom: 30px}
.caracter h4 {color: #FED300; margin: 20px 0 30px 0; line-height:28px}
.caracter p {color: #fff; font-size: 22px; line-height: 26px}
.caracter .desc {float: left; width: 375px}
.caracter .desc + .zoom-software, .caracter .zoom-software + .desc {margin-left: 30px}
.zoom-software {float: left}
.entrar {margin-top: 40px}
.entrar .zoom-software {margin-top: -40px}
.hoteis .zoom-software {margin-top: -35px}
.checkout {margin-top: 20px}
.checkout .zoom-software {margin-top: -20px}

/* -- Clientes -- */
.clientes {padding: 30px 0}
.clientes .btn {margin: 10px 0 30px 0}
.clientes h3 {margin-bottom: 35px; color: #333}
.clientes .span6 .row-fluid {margin-bottom: 50px}
.depoimento .box {border-radius: 15px 15px 15px 0; margin:0 10px; padding: 20px 25px; color: #fff; font-size: 22px; line-height: 25px; position: relative; z-index: 1}
.depoimento .box-arrow {width:27px; margin-left:10px; float: left}
.depoimento .photo-circle {border-radius: 60px; width: 80px; height: 80px; float: left; border:3px #fff solid; overflow: hidden; box-shadow:0 3px 5px rgba(0,0,0,0.2); margin: 15px 23px 0 -10px}
.depoimento .bg-de-logo {margin: -14px 9px 0 0; float: right}
.depoimento .logo-cliente {float: left}
.depoimento .logo-cliente.bway {margin:32px 0 0 45px}
.depoimento .logo-cliente.btotal {margin:50px 0 0 39px}
.depoimento .de-id {margin-top: 37px}
.depoimento .de-id p {font-size:20px; margin: 0}
.depoimento .de-id a {font-size:20px; color: #666}

    /* -- Cores -- */
.de-green .box {background: #96C200}
.de-green strong {color: #96C200}
.de-blue .box {background: #1068BB}
.de-blue strong {color: #1068BB}
.de-orange .box {background: #F05700}
.de-orange strong {color: #F05700}

/* -- Benefícios -- */
.beneficios .container {margin: 50px auto}
.beneficios .btn {margin:50px 0 10px 0}
.beneficios h3 {color:#333; margin:0 0 50px 0}
.beneficios p{color:#333;}
.beneficios p strong{color:#f7941d;}
.detail-icon {text-align: center; margin-bottom: 10px}
.detail-icon .box {border-radius:20px; background: #fff; padding: 30px 40px}
.detail-icon .title {font-size: 32px; text-align: center; margin: 30px 0; line-height: 34px}
.detail-icon .desc {font-size: 16px; text-align: left}
.detail-icon .button {margin-bottom: -50px}
.title-clients{margin-top:40px !important;}

.screenshots p{text-align: center;font-size:16px;margin:15px 0;}
    /* -- Cores -- */
.detail-icon.seguranca .title {color: #1068BB}
.detail-icon.conteudo .title {color: #B58700}
.detail-icon.gestao .title {color: #227D00}

/* -- Interna -- */
.share {position:fixed; left:0; top:345px; width: 100px; padding:15px 20px; background:#f8f8f8; border-radius:0 20px 20px 0;z-index:100;}
.share p {font-size: 16px; font-weight:400;}
img.left {margin:0 20px 10px 0; float: left; border-radius: 10px}
.interna {margin:40px auto 70px auto}
.interna p {margin-bottom: 15px; line-height: 22px; font-size: 16px}
.center-title {text-align: center; margin-bottom: 50px}
.center-title h3 {color: #0F5EA8; margin: 0 0 15px 0;}
.center-title p {font-size: 18px}

/* -- Contato -- */
.form-contato input {width:271px}
.form-contato textarea {width:590px}
.form-contato label {font-size: 19px; font-weight:lighter;}
.form-contato .btn {margin-left: 175px;}
.form-contato select {width:299px;}
.ss-required-asterisk {color:red;}

/* -- Quem Somos -- */
.quem-somos {position: relative;}
.quem-somos .logo-intip-ok{position:absolute;right:0;top:-22px;}
.quem-somos .span12{margin-left:0;}
/* -- Quem Somos -- */

/* -- Rodapé -- */
.rodape a {color:#fff}
.rodape .pull-right p {margin:0 0 15px 0}
.rodape .row-fluid {background: #1068BB; color:#fff; padding:30px 0 35px 0}
.rodape .pull-right {text-align: right}
.rodape .pull-right .email {margin-top: 35px}
.rodape ul{list-style-type: none;}
.rodape li{margin-bottom:20px;font-size:18px;}
.rodape li a:hover{text-decoration: none; color:#ededed;}

/* -- Setas -- */
.seta-top{background:url('../imgs/sprite-new.png') no-repeat -28px -392px;width: 123px;height: 153px;position:absolute;top:-90px;left:422px;z-index:50;}
.seta-bot{background: url('../imgs/sprite-new.png') no-repeat -18px -622px;width: 148px;height: 160px;position:absolute;top:230px;left:344px;z-index:50;}

.logo-intip-ok{background: url('../imgs/sprite-new.png') no-repeat -5px -192px;width: 114px;height: 73px; display: inline-block;}

.associados p{font-size:24px;margin:40px 0;}
.abradi{background: url('../imgs/abradi-new.png') no-repeat;width: 160px;height: 94px;}
/* -- Feature --*/
.icon-cloud{background: url('../imgs/sprite-new.png') no-repeat -13px -14px;width: 55px;height: 48px;margin:0 auto;display: block;}
.icon-time{background: url('../imgs/sprite-new.png') no-repeat -15px -128px;width: 51px;height: 48px;margin:0 auto;display: block;}
.icon-sales{background: url('../imgs/sprite-new.png') no-repeat -13px -69px;width: 55px;height: 48px;margin:0 auto;display: block;}
.icon-share{background: url('../imgs/sprite-new.png') no-repeat -108px -10px;width: 53px;height: 53px;margin:0 auto;display: block;}
.icon-multiple{background: url('../imgs/sprite-new.png') no-repeat -103px -86px;width: 68px;height: 47px;margin:0 auto;display: block;}
.icon-cart-two{background: url('../imgs/sprite-new.png') no-repeat -192px -10px;width: 49px;height: 48px;margin:0 auto;display: block;}
.feature-top{padding:100px 0;border-top:3px solid #1569b5;}
.feature-top h3{color:#FED300;font-size:30px;text-align: center;}
.feature-top p{color:#fff;font-size:20px;font-weight: 400;text-align: center;line-height:24px;}

.shadow-blocks{background:url(../imgs/shadow-1195.png) repeat;width:100%;height:135px;position: absolute;left:0;top:0;z-index:50;}
/** Jcarousel **/
.jcarousel{
    background:#fff;
}

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/** Carousel **/
.carousel-turismo{
    margin-left: -30px;
}
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 190px !important;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 150px;
    text-align : center;
}

.jcarousel img {
    vertical-align : middle;
    margin-top:30px;
    
}
.jcarousel img.top-reset {
    margin-top:35px;
}
.jcarousel img.mgr-left {
    margin-left:30px;
}
.jcarousel li:first-child img{
    margin-left:20px;
}
.jcarousel-pagination{
    display: none;
}
/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
    z-index:200;
}

.jcarousel-control-prev {
    left:-55px;
}
.jcarousel-control-prev:hover {
    color:#FBD200;
    text-decoration: none;
}
.jcarousel-control-next {
    right:-55px;
}
.jcarousel-control-next:hover {
    color:#FBD200;
    text-decoration: none;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
@media (max-width:1250px) {

    .share {position: static; float: left; width:900px; border-radius: 20px; margin-top: 40px; height: 24px; }
    .share p {float: left; width:105px}
    .share span {margin-top:-1px;}

}